body {
  background: #ffffff;
  font-family: "Roboto Slab", serif;
}
img {
  margin: 15px 0 0 5px;
  width: 130px;
  height: auto;
}
.weatherCity {
  color: #cf1e65;
  font-size: 38px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 20px;
}

.weather-box-wrapper {
  margin-top: -10px;
  text-align: center;
}
.weather-box {
  background-color: #f4f4f4;
  border: 1px solid #dadada;
  border-radius: 18px;
  box-shadow: 5px 10px 20px rgb(65 55 100/ 15%);
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
}

.btn-primary {
  background-color: #f20061;
  border: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #e64c8a;
  margin-right: 20px;
  padding: 5px 10px;
  transition: all 200ms ease-in-out;
}
.btn-primary:hover {
  background-color: #e64c8a;
}
.currentLocationLink {
  color: #bb3eec;
  font-weight: bold;
}
.citySearch {
  padding: 3px 15px;
}
.currentTime {
  color: #cf1e65;
  font-size: 18px;
  font-weight: 400;
}
.currentClimate:first-letter {
  text-transform: capitalize;
}
.currentClimate,
.currentWeatherDetail,
.currentLocation {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
}
.currentTemperature {
  color: #a1174e;
  font-size: 120px;
  font-weight: 900;
  margin: -15px 0 0 40px;
}
.celsius,
.fahrenheit {
  font-size: 18px;
  padding: 15px 0;
  position: relative;
  text-align: start;
  top: 25px;
  vertical-align: text-top;
}
.tempUnit {
  color: #bb3eec;
}
.weatherIcons {
  max-width: 9%;
}

.nextDaysDetails {
  border-radius: 10px;
  border: 1px solid #dadada;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  width: 100px;
  text-align: center;
}
.nextDays {
  color: #333333;
  font-size: 18px;
  margin: 5px;
  text-align: left;
}
.nextHigherTemperatures {
  color: #f20061;
  font-size: 18px;
  font-weight: bolder;
  margin: 16px 0 5px -10px;
  text-align: left;
}
.nextLowerTemperatures {
  color: #e64c8a;
  font-size: 18px;
  margin: -10px 0 0 -10px;
  text-align: left;
}
.futureIcons {
  margin: 16px 5px 0 5px;
  padding: 0;
  width: 25px;
  height: auto;
  text-align: right;
}
