body {
  background: #ffffff;
  font-family: "Roboto Slab", serif;
}
.weatherCity {
  color: #cf1e65;
  font-size: 38px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 20px;
}
img {
  margin-left: 40px;
  width: 140px;
  height: auto;
}

.weather-box-wrapper {
  max-width: 700px;
  margin-top: -10px;
  margin-left: 40px;
  text-align: center;
}
.weather-box {
  background-color: #f4f4f4;
  border: 1px solid #dadada;
  border-radius: 18px;
  box-shadow: 0 10px 20px rgb(65 55 100/ 15%);
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
}

.btn-primary {
  background-color: #00b9e6;
}
.btn-secundary {
  text-align: right;
  background-color: #f75e10;
}
.currentTime {
  color: #cf1e65;
  font-size: 18px;
  font-weight: 400;
}

.currentClimate,
.currentWeatherDetail {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
}
.currentTemperature {
  color: #a1174e;
  font-size: 120px;
  font-weight: 900;
  margin-left: 40px;
  margin-top: -20px;
}
.celsius,
.fahrenheit {
  font-size: 18px;
  padding: 15px 0;
  position: relative;
  text-align: start;
  top: 25px;
  vertical-align: text-top;
}
.weatherIcons {
  max-width: 9%;
}

.nextDaysDetails {
  border-radius: 10px;
  border: 1px solid #dadada;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  width: 100px;
  text-align: center;
}
.nextDays {
  color: #333333;
  font-size: 18px;
  margin: 5px;

  text-align: left;
}
.nextHigherTemperatures {
  color: #f20061;
  font-size: 18px;
  font-weight: bolder;
  margin-left: -10px;
  margin-top: 16px;
  text-align: left;
}
.nextLowerTemperatures {
  color: #e64c8a;
  font-size: 18px;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 0;
  text-align: left;
}
.futureIcons {
  margin-left: 5px;
  margin-top: 16px;
  padding: 0;
  width: 25px;
  height: auto;
  text-align: right;
}
